.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.custom-title {
    padding: 0;
    font-size: 50px;
}