@import '../../../styles.scss';

.outer-container {
    flex-direction: column;
}

.inner-container {
    text-align: center;
}

p {
    color: white;
    text-shadow: 0 0 10px black;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: $custom-blue;
}
