<section class="outer-container" id="footer">
    <div class="inner-container">
        <p>TouchGrassStore &copy; 2024</p>
        <div class="socials-container">
            <button mat-mini-fab (click)="posthogTikTok(); goToLink('https://www.tiktok.com/@touchgrass_store')"><img src="../../../assets/images/footer/tiktok.svg"></button>
            <button mat-mini-fab (click)="posthogGitHub(); goToLink('https://github.com/OHMelin/TouchGrassStore')"><img src="../../../assets/images/footer/github.svg"></button>
        </div>
    </div>
</section>