<section class="outer-container" id="hero">
    <div class="stack-container">
        <div class="payment-types-container">
            <img src="../../../assets/images/payment/mastercard.svg" alt="">
            <img src="../../../assets/images/payment/google-pay.svg" alt="">
            <img src="../../../assets/images/payment/paypal.svg" alt="">
            <img src="../../../assets/images/payment/visa.svg" alt="">
            <img src="../../../assets/images/payment/discover.svg" alt="">
        </div>
        <div class="stack letter-front"></div>
        <div class="stack letter"></div>
        <img class="stack certificate" src="../../../assets/images/section_hero/certificate.webp" alt="A4 certificate">
        <img class="stack grass" src="../../../assets/images/section_hero/grass-patch.webp" alt="15x15cm grass patch">
        <img class="stack card" src="../../../assets/images/section_hero/card.webp" alt="Note to recipient">
        <div class="button-container">
            <a mat-raised-button (click)="posthogBuyHero(); goToLink('https://buy.stripe.com/14k9CV3652Am4FybIL')"><mat-icon>shopping_cart</mat-icon> Purchase<span class="price">$19.75</span></a>
            <a mat-raised-button (click)="posthogReadMore(); scrollToSection()" class="read-more-button"><mat-icon>keyboard_arrow_down</mat-icon> Read more</a>
        </div>
    </div>
    <div id="grass" title="Credit: textures4photoshop"></div>
</section>