.outer-container {
    height: 100vh;
    background-image: url(../../../assets/images/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#grass {
    background-image: url(../../../assets/images/grass_seamless.png);
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0;
}

a {
    z-index: 6;
    bottom: 150px;
    position: absolute;
    background-color: #45a545 !important;
    color: white !important;
    min-width: 150px;
}

.stack-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.stack {
    position: absolute;
}
.letter-front {
    box-shadow: none;
    z-index: 6;
    transform-origin: center center;
    background-image: url('../../../assets/images/letter_front.png');
    background-size: cover;
    width: 250px;
    height: 360px;
}
.letter {
    box-shadow: none;
    z-index: -1;
    transform-origin: center center;
    background-image: url('../../../assets/images/letter.png');
    background-size: cover;
    width: 250px;
    height: 360px;
}
.certificate {
    z-index: 2;
    transform-origin: center center;
    rotate: 90deg;
    animation-name: certificate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translate(-50px);
}
.grass {
    box-shadow: none;
    z-index: 3;
    transform-origin: center center;
    rotate: 90deg;
    animation-name: grass;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translate(-50px) rotate(180deg);
}
.card {
    z-index: 4;
    transform-origin: center center;
    animation-name: card;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform: translate(0, -50px);
}

@keyframes certificate {
    25% {
        transform: translate(-50px);
    }
    70% {
        transform: translate(-500px) rotate(-0deg);
    }
    100% {
        transform: translate(-450px) rotate(-90deg);
        box-shadow: 0 0 50px #00000025;
    }
}

@keyframes grass {
    25% {
        transform: translate(-50px) rotate(180deg);
    }
    70% {
        transform: translate(-525px) rotate(180deg);
    }
    100% {
        transform: translate(-400px, 200px) rotate(165deg);
    }
}

@keyframes card {
    25% {
        transform: translate(0, -50px);
    }
    70% {
        transform: translate(0, -600px);
    }
    100% {
        transform: translate(225px, -500px) rotate(10deg);
        box-shadow: 0 0 50px #00000025;
    }
}