<div class="outer-container">
    <div class="stack-container">
        <div class="stack letter-front"></div>
        <div class="stack letter"></div>
        <img class="stack certificate" src="../../../assets/images/certificate.webp" alt="Certificate">
        <img class="stack grass" src="../../../assets/images/grass-patch.webp" alt="Grass">
        <img class="stack card" src="../../../assets/images/card.webp" alt="Note to recipient">
        <a mat-raised-button href="https://buy.stripe.com/bIYbL3bCB1wi1tm3cc"><mat-icon>shopping_cart</mat-icon> Purchase</a>
    </div>
    <div id="grass" title="Credit: textures4photoshop"></div>
</div>