<section class="outer-container" id="send-to">
    <div class="image-container">
        <div id="top-dirt"></div>
    </div>
    <div class="inner-container">
        <h1 class="custom-title">SEND GRASS TO</h1>
        <div class="stack-container">
            <div class="stack-item">
                <img class="stamp" src="../../../assets/images/postal.png" alt="">
                <p>THE GAMER</p>
            </div>
        </div>
        <h2 class="subtitle">Psst.. there's free shipping</h2>
        <div class="button-container">
            <a mat-raised-button (click)="posthogBuySuggestion()" href="https://buy.stripe.com/14k9CV3652Am4FybIL"><mat-icon>shopping_cart</mat-icon> Purchase<span class="price">$13.75</span></a>
        </div>
    </div>
</section>