<section class="outer-container" id="included">
    <div class="image-container">
        <div id="top-dirt"></div>
    </div>
    <div class="inner-container">
        <h2 class="custom-title">INCLUDED</h2>
        <h3 class="subtitle">Included In The Package</h3>
        <div class="card-container">
            <mat-card>
                <div id="background"></div>
                <img src="../../../assets/images/included-15x15cm-grass-patch.webp" alt="15x15cm grass patch">
                <mat-card-content>
                    <mat-card-title>15x15cm Grass</mat-card-title>
                    <mat-card-subtitle>
                        The patch of grass is very life-like and cut to be about 15x15cm. The height of the straws is about 3cm.
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <div id="background"></div>
                <img src="../../../assets/images/included-a4-certificate.webp" alt="A4 certificate">
                <mat-card-content>
                    <mat-card-title>A4 Certificate</mat-card-title>
                    <mat-card-subtitle>
                        An official certificate is included, as proof of the extraordinaire accomplishment of touching grass.
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <div id="background"></div>
                <img src="../../../assets/images/included-note-to-recipient.webp" alt="Note to recipient">
                <mat-card-content>
                    <mat-card-title>Note to Recipient</mat-card-title>
                    <mat-card-subtitle>
                        Write a custom note to the recipient. We will send it along with the package. Maximum of 150 characters.
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <div id="background"></div>
                <img src="../../../assets/images/included-free-shipping.webp" alt="Free shipping">
                <mat-card-content>
                    <mat-card-title>Free Shipping</mat-card-title>
                    <mat-card-subtitle>
                        Worldwide shipping is included in the price. Depending on the country shipping is between 4-12 days.
                    </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="button-container">
            <a mat-raised-button href="https://buy.stripe.com/bIYbL3bCB1wi1tm3cc"><mat-icon>shopping_cart</mat-icon> Purchase</a>
        </div>
    </div>
</section>