<div class="outer-container">
    <img id="top-dirt" src="../../../assets/images/dirt.png" alt="">
    <div class="inner-container">
        <h2>INCLUDED</h2>
        <div class="card-container">
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </div>
        <div class="button-container">
            <button mat-raised-button>Purchase</button>
        </div>
    </div>
    <img id="bottom-grass" src="../../../assets/images/grass.png" alt="">
</div>