.outer-container {
    flex-direction: column;
}
h2 {
    text-align: center;
}
mat-icon {
    margin-right: 10px;
}
mat-expansion-panel {
    background-color: rgb(50, 30, 30);
    background-image: url('../../../assets/images/dirt_blurred.png');
    background-size: cover;
    color: white !important;
    .mat-expansion-panel-header-title {
        color: white;
        text-shadow: 0 0 5px black;
    }
}

.mat-expansion-panel {
    border: 2px solid white; /* Add border to the entire panel */
    margin-bottom: -2px; /* Compensate for the bottom border to avoid double border */
    text-shadow: 0 0 5px black;
  }