<section class="outer-container" id="faq">
    <div class="inner-container">
        <h1 class="custom-title">FAQ</h1>
        <h2 class="subtitle">Frequently Asked Questions</h2>
        <mat-accordion>
          @for (faq of faqs; track $index) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>{{faq.icon}}</mat-icon>
                  {{faq.question}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{faq.answer}}</p>
            </mat-expansion-panel>
          }
        </mat-accordion>
    </div>
</section>