@import '../../../styles.scss';

.outer-container {
    flex-direction: column;
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.header-image {
    background-image: url('../../../assets/images/no-user-image.webp');
    background-size: cover;
}
.custom-title {
    padding-top: 100px;
}
mat-icon {
    color: goldenrod;
    text-shadow: 0 0 5px #00000050;
    font-size: 1.5rem;
}
.image-container {
    position: relative;
    width: 100%;
    div {
        background-image: url('../../../assets/images/wave.svg');
        background-size: auto;
        background-repeat: repeat-x;
        height: 100px;
        opacity: 0.5;
    }
}

mat-card {
    background-color: $custom-primary;
    color: white;
    text-shadow: 0 0 5px black;
    mat-card-subtitle {
        color: white;
    }
    mat-card-title {
        font-weight: 600;
    }
}
mat-card-header, mat-card-content {
    z-index: 1;
}
a {
    background-color: $custom-blue !important;
    color: white !important;
    min-width: 150px;
    mat-icon {
        color: white;
    }
}