body {
    margin: 0px;
    background-color: lightskyblue;
    font-family: 'Playpen Sans', cursive;
}
.outer-container {    
    display: flex;
    justify-content: center;
}
.inner-container {
    width: 100%;
    padding: 2rem;
    max-width: 920px;
    margin: auto;
}