body {
    margin: 0px;
    //background-color: rgb(100, 196, 255);
    background-image: url('../src/assets/images/repeat.jpg');
    background-size: cover;
    font-family: 'Playpen Sans', cursive;
}
.outer-container {    
    display: flex;
    justify-content: center;
}
.inner-container {
    width: 100%;
    padding: 2rem;
    max-width: 920px;
    margin: auto;
}

.cloud {
    font-family: Cloud !important;
    color: white;
    text-shadow: 0 0 10px #00000075;
    font-size: 50px !important;
    padding-bottom: 50px;
}

@font-face {
    font-family: Cloud;
    src: url(cloud.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; }