$custom-primary: #6F4E3799;
$custom-green: #45a545;
$custom-blue: #2481d4;

body {
    background-color: #6F4E37;
    background-image: url('../src/assets/images/dirt.webp');
    background-size: auto;
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}
.outer-container {
    display: flex;
    justify-content: center;
}
.inner-container {
    width: calc(100% - 4rem);
    max-width: 920px;
    margin: auto;
    padding: 2rem;
}

#top-dirt {
    top: 0px;
    width: 100%;
}

.custom-title {
    font-family: 'Lilita One', sans-serif !important;
    font-weight: 900 !important;
    color: white;
    text-shadow: 0 0 10px #000000;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}
.subtitle {
    color: white;
    text-shadow: 0 0 10px #000000;
    padding-bottom: 10px;
    text-align: center;
    font: 400 16px/28px Roboto, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; }

.mat-expansion-panel-body {
    padding: 16px 24px 16px !important;
    p {
        margin-bottom: 0;
    }
}
.mat-expansion-indicator::after {
    color: white !important;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: $custom-primary;
}
