<div class="container">
    <!-- <button mat-raised-button><mat-icon>shopping_cart</mat-icon>Purchase now</button> -->
    <button class="support" mat-fab (click)="posthogToggleSupport(); toggleBlock()"><mat-icon>{{ isBlockVisible ? 'close' : 'question_answer'}}</mat-icon></button>
    <button class="purchase" mat-fab (click)="posthogBuyCta(); goToLink('https://buy.stripe.com/bIYbL3bCB1wi1tm3cc')"><mat-icon>shopping_cart</mat-icon></button>
    @if (isBlockVisible) {
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Questions?</mat-card-title>
                <mat-card-subtitle>Don't hesitate to contact me</mat-card-subtitle>
                <a mat-raised-button href="mailto:touchgrassstore@gmail.com" (click)="posthogContact()">Contact</a>
            </mat-card-header>
        </mat-card>
    }
</div>
